.git
__pycache__
*.pyc
*.pyo
.pytest_cache
.coverage
htmlcov
.mypy_cache
.ruff_cache
.hypothesis
eggs
.eggs
*.egg-info
dist
build
docs
tests
*.md
*.log
.DS_Store
.vscode
.env*
!.env.example
uv.lock
requirements-dev.txt
.pylintrc
.pre-commit-config.yaml